/* CSS declarations go here */

/* Start of table */

.table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}


thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}



/* End of table */


